<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.demo_game.mapper.BackendUserMapper">

    <resultMap id="BaseResultMap" type="com.lyh.demo_game.domain.BackendUser">
            <id property="id" column="id" />
            <result property="usercode" column="userCode" />
            <result property="username" column="userName" />
            <result property="usertype" column="userType" />
            <result property="createdby" column="createdBy" />
            <result property="creationdate" column="creationDate" />
            <result property="modifyby" column="modifyBy" />
            <result property="modifydate" column="modifyDate" />
            <result property="userpassword" column="userPassword" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userCode,userName,userType,createdBy,creationDate,
        modifyBy,modifyDate,userPassword
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from backend_user
        where  id = #{id} 
    </select>
    <select id="selectByUserName" resultType="com.lyh.demo_game.domain.BackendUser">
        select
        <include refid="Base_Column_List" />
        from backend_user
        where  userCode = #{username}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from backend_user
        order by id desc
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from backend_user
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lyh.demo_game.domain.BackendUser" useGeneratedKeys="true">
        insert into backend_user
        ( id,userCode,userName,userType,createdBy,creationDate,
        modifyBy,modifyDate,userPassword)
        values (#{id},#{usercode},#{username},#{usertype},#{createdby},#{creationdate},
        #{modifyby},#{modifydate},#{userpassword})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.lyh.demo_game.domain.BackendUser" useGeneratedKeys="true">
        insert into backend_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="usercode != null">userCode,</if>
                <if test="username != null">userName,</if>
                <if test="usertype != null">userType,</if>
                <if test="createdby != null">createdBy,</if>
                <if test="creationdate != null">creationDate,</if>
                <if test="modifyby != null">modifyBy,</if>
                <if test="modifydate != null">modifyDate,</if>
                <if test="userpassword != null">userPassword,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="usercode != null">#{usercode},</if>
                <if test="username != null">#{username},</if>
                <if test="usertype != null">#{usertype},</if>
                <if test="createdby != null">#{createdby},</if>
                <if test="creationdate != null">#{creationdate},</if>
                <if test="modifyby != null">#{modifyby},</if>
                <if test="modifydate != null">#{modifydate},</if>
                <if test="userpassword != null">#{userpassword},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lyh.demo_game.domain.BackendUser">
        update backend_user
        <set>
                <if test="usercode != null">
                    userCode = #{usercode},
                </if>
                <if test="username != null">
                    userName = #{username},
                </if>
                <if test="usertype != null">
                    userType = #{usertype},
                </if>
                <if test="createdby != null">
                    createdBy = #{createdby},
                </if>
                <if test="creationdate != null">
                    creationDate = #{creationdate},
                </if>
                <if test="modifyby != null">
                    modifyBy = #{modifyby},
                </if>
                <if test="modifydate != null">
                    modifyDate = #{modifydate},
                </if>
                <if test="userpassword != null">
                    userPassword = #{userpassword},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lyh.demo_game.domain.BackendUser">
        update backend_user
        set 
            userCode =  #{usercode},
            userName =  #{username},
            userType =  #{usertype},
            createdBy =  #{createdby},
            creationDate =  #{creationdate},
            modifyBy =  #{modifyby},
            modifyDate =  #{modifydate},
            userPassword =  #{userpassword}
        where   id = #{id} 
    </update>
</mapper>
